body{
    position: relative;
}
#c_main{
    position: relative;
    width: 100%;
}
.c_main h1{
    position: absolute;
    margin-top: -34rem;
    margin-left: 61rem;
    font-size: 5rem;
    font-family: var(--zenfont);
    letter-spacing: -0.9rem;
}
.c_main h1::after{
    content: "";
    display: block;
    width: 70rem;
    background-color: #EDFE93;
    height: 1rem;
    border-radius: 0.5rem 0.5rem;
    margin-top: -2rem;
    margin-left: 0.2rem;
    z-index: 0;
}
#round_banner{
    position: absolute;
    width: 23rem;
    height: 23rem;
    margin-top: 28rem;
    margin-left: -94rem;
}
.history_intro{
    position: absolute;
    margin-top: -17rem;
    margin-left: 129rem;
    width: 39rem;
    background-color: #FFFFFF;
    opacity: 36%;
}
.history_intro p{
    padding: 3.6rem 3.8rem 2rem 5.2rem;
    margin: 0;
    color:black;
    font-size: 2rem;
    font-family: var(--zenfont);
    line-height: 3.4rem;
}
.performance_content h2{
    font-size: 4rem;
    font-family: var(--zenfont);
    font-style: bold;
    margin-top: 6.4rem 0.6rem;
}
#per_item {
    position: relative;
    top: 5rem;
    left: 16rem;
    width: 11rem;
    height: 6.5rem;
}
.clean_content{
    box-shadow: 0.3rem 0.4rem 0.3rem rgb(0 0 0 / 16%);
    width: 31.8rem;
    height: 41rem;
    margin-bottom: 8rem;
}
.clean_content img{
    width: 32rem;
    height: 17.4rem;
}
.category{
    width: 25.8rem;
    height: 5.7rem;
    box-shadow: 0rem 0.3rem 0.6rem;
    margin-top: -5rem;
    margin-left: 3rem;
    background-color: white;
    position: absolute;
    z-index: 1;
}
#cate_1{
    font-size: 3.2rem;
    font-family: var(--segoefont);
    margin-top: 1.4rem;
    margin-left: 7rem;
}
#cate_3, #cate_6 {
    font-size: 3.2rem;
    font-family: var(--segoefont);
    margin-top: 1.4rem;
    margin-left: 6rem;
}
#cate_4, #cate_5 {
    font-size: 3.2rem;
    font-family: var(--segoefont);
    margin-top: 1.4rem;
    margin-left: 1rem;
    letter-spacing: -0.3rem;
}
#cate_8{
    font-size: 3.2rem;
    font-family: var(--segoefont);
    margin-top: 1.4rem;
    margin-left: 4rem;
}
.clean_content p{
    font-family: var(--notofont);
    font-size: 2rem;
    width: 25.4rem;
    margin: 3.6rem 4rem 2.6rem 3.3rem;
    line-height: 2.7rem;
}
.service{
    flex-wrap: wrap;
}
.promise{
    background-color: var(--headercol);
    width: 120rem;
    height: 20rem;
    box-shadow: 1rem 1.1rem 1rem rgba(137, 170, 213, 0.53);
    margin-bottom: 8rem;
    position: relative;
}
.promise p{
    font-size: 2rem;
    font-family: var(--notofont);
    width: 89.6rem;
    margin-left: 14rem;
    margin-top: 6rem;
    position: absolute;
}
@media screen and (min-width : 426px) and (max-width : 768px){
    .c_main h1 {
        position: absolute;
        margin-top: -14rem;
        margin-left: 18rem;
        font-size: 3rem;
        font-family: var(--zenfont);
        letter-spacing: -0.9rem;
    }
    .c_main h1::after {
        content: "";
        display: block;
        width: 35rem;
        background-color: #EDFE93;
        height: 1rem;
        border-radius: 0.5rem 0.5rem;
        margin-top: -2rem;
        margin-left: 0.2rem;
        z-index: 0;
    }
    #round_banner {
        position: absolute;
        width: 8rem;
        height: 8rem;
        margin-top: 12rem;
        margin-left: -36rem;
    }
    .history_intro {
        position: absolute;
        margin-top: -6rem;
        margin-left: 54rem;
        width: 16rem;
        background-color: #FFFFFF;
        opacity: 36%;
    }
    .history_intro p {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        margin: 0;
        color: black;
        font-size: 1rem;
        font-family: var(--zenfont);
        line-height: 2rem;
    }
    .performance_content h2{
        font-size: 3rem;
        font-family: var(--zenfont);
        font-style: bold;
        margin-top: 6.4rem 0.6rem;
    }
    .performance_content{ 
        margin-bottom: -36rem;
    }
    .promise p{
        font-size: 1.6rem;
        font-family: var(--notofont);
        width: 22.6rem;
        margin-left: 5rem;
        margin-top: 12rem;
        position: absolute;
    }
    .promise{
        background-color: var(--headercol);
        width: 33rem;
        height: 40rem;
        box-shadow: 1rem 1.1rem 1rem rgb(137 170 213 / 53%);
        margin-bottom: 2rem;
        position: relative;
        top: -49rem;
        left: 41rem;
        z-index: 0;
    }
    #per_item {
        position: relative;
        top: 5rem;
        left: 21rem;
        width: 11rem;
        height: 6.5rem;
    }
}
@media screen and (max-width:425px){
    .c_main h1 {
        position: absolute;
        margin-top: -9rem;
        margin-left: 6rem;
        font-size: 2.5rem;
        font-family: var(--zenfont);
        letter-spacing: -0.2rem;
    }
    .promise {
        background-color: var(--headercol);
        width: 32rem;
        height: 20rem;
        box-shadow: 1rem 1.1rem 1rem rgb(137 170 213 / 53%);
        margin-bottom: 8rem;
        position: relative;
        margin-left: 4rem;
    }
    
    .service {
        flex-wrap: wrap;
        margin-left: 4rem;
    }
    .promise p {
        font-size: 1.6rem;
        font-family: var(--notofont);
        width: 26.6rem;
        margin-left: 4rem;
        margin-top: 3rem;
        position: absolute;
    }
    .c_main h1::after {
        display: none;
    }
    #round_banner {
        position: absolute;
        width: 3rem;
        height: 3rem;
        margin-top: 7rem;
        margin-left: -19rem;
        z-index: 1;
    }
    .history_intro {
        position: absolute;
        margin-top: -4rem;
        margin-left: 26rem;
        width: 14rem;
        background-color: #FFFFFF;
        opacity: 36%;
        z-index: 0;
        height: 3rem;
    }
    .history_intro p {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        margin: 0;
        color: black;
        font-size: 1rem;
        font-family: var(--zenfont);
        line-height: 1;
    }
    .performance_content h2 {
        font-size: 2rem;
        font-family: var(--zenfont);
        font-style: bold;
        margin-top: 6.4rem 0.6rem;
        text-align: center;
    }
    #per_item {
        position: relative;
        top: 5rem;
        left: 21rem;
        width: 11rem;
        height: 6.5rem;
    }
}